.inputFrame {
  width: 500;
  height: 45px;
  margin: 0 20px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  position: block;
}

.chatInput {
  width: 500px;
  font-size: 14px;
  margin: auto;
  border: solid 2px black;
  border-radius: 5px;
  padding: 8px;
  word-wrap: break-word;
}