h5 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
}

.msg {
  max-width: 300px;
  padding: 6px 12px;
  margin: 5px 0;
  border-radius: 20px;
  word-wrap: break-word;
  background-color: #d3d3d3;
  display: block;
}

.timestamp {
  display: block;
  font-size: 10px;
}

.left {
  text-align: left;
  float: left;
  clear: left;
}

.right {
  text-align: right;
  float: right;
  clear: right;
}

.hideDate {
  display: none;
}
