body {
  background-color: #282c34;
}

h4 {
  margin-top: 5px;
  margin-bottom: 0;
}

p {
  margin: 2px;
}

.page {
  height: 100%
}

.container {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

.title {
  text-align: center;
  font-size: 30px;
  color: white;
}