body {
  background-color: #282c34;
}

h4 {
  margin-top: 5px;
  margin-bottom: 0;
}

p {
  margin: 2px;
}

.page {
  margin-top: 60px;
  display: flex;
  flex-flow: rowre wrap;
  justify-content: center;
}

.container {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

.tabsBg {
  width: 175px;
  height: 565px;
  margin: 0;
  background-color: white;
  border-radius: 10px;
  border-right: 1px solid black;
  overflow-y: scroll;
  position: block;
}

.chatBox {
  width: 500px;
  height: 500px;
  margin: 0 20px 0 0;
  background-color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 15px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  position: block;
}

.chatBox::-webkit-scrollbar {
  display: none;
}

.console {
  width: 300px;
  height: 250px;
  margin: 50px;
  color: #4AF626;
  background-color: black;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  position: block;
}

.console::-webkit-scrollbar {
  display: none;
}
